section img{
	position: absolute;
	top: 40vh;
	left: 35%;
	opacity: 20%;
	z-index: -1;
} 
#title{
	color: #384358;
	padding-top:15vh; ;
	text-align: center;
	margin-bottom: 20px;
}
#p-1{
	border: 3px solid #475267;
	margin: 20px auto ;
	width: 750px;
	text-align: center;
	height: 100%;
	transition: all ease 0.5s;

}
#p-1:hover{
	transform: scale(1.1, 1.1);
}
#p-1 h2{
	text-align: center;
	background-color: #475267;
	color: white;
}
#p-1 p{
	padding:10px;
	color:#384358;
}
#p-2{
	border: 3px solid #475267;
	margin: 40px auto;
	width: 750px;
	text-align: center;
	height: 100%;
	transition: all ease 0.5s;	
}
#p-2:hover{
		transform: scale(1.1, 1.1);
	}
#p-2 h2{
	text-align: center;
	background-color: #475267;
	color: white;
}
#p-2 p{
	padding:10px;
	color:#384358;
}
