<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../Css/Login.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"/>
    <link rel="shortcut icon" href="../icons/Favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="../Js/jquery-3.5.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div class="container">
    <div class="login-content">
        <form id="form" th:action="@{/login}" method="post" >
            <img src="../icons/Grupo 64.svg">
            <img src="../icons/Mujer_1.svg" alt="No se encuentra la imagen">
            <h2 class="title">Bienvenidos</h2>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Usuario</h5>
                    <input type="text" id="user"  name="userName" class="input" autocomplete="off" required="true"/>

                </div>
            </div>
            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">`
                    <h5>Contraseña</h5>
                    <input type="password" id="password"  name="password" class="input" autocomplete="off" required="true"/>
                </div>
            </div>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn" value="login">Ingresar</button>
            <p style="color: red" th:if="${error}" id="error">Usuario o Contraseña invalidos</p>
        </form>
    </div>
</div>
<script type="text/javascript" src="../Js/main.js"></script>
<script>
    var ruta = "${pageContext.request.contextPath}/";
</script>

</body>
</html>